@import "tailwindcss";


html,
body {
    height: 100%;
    min-height: 100%;
}


nextjs-portal {
  display: none;
}

body {
    background-color: oklch(21% 0.006 285.885);
}



ul li .header-item {
    list-style-type: none;
}
